/* --------------------------------------------------------------------
   Landing Page
-------------------------------------------------------------------- */

/* Hero Image */
.screens{
	margin-bottom: 20px; 

	img.hero-image{
		width: 75%;
		margin: 0 auto;
	}
}

/* Landing Content */
.landing-content{
	.panel{

		h2{
			text-align: center;
		}
	}

}